<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>timestamp=%d{ISO8601} level=%-5level logger=%logger{36} sessionId=%X{sessionId:--} thread=%thread message="%replace(%msg){'"', '\\"'}"%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
